@model IEnumerable<ACME_INC_APP.Models.ProdCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th scope="row">
                @Html.DisplayName("Product Category Name")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdCatName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdCatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdCatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdCatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
